.zl-section-hero {
  background-repeat: no-repeat;
  background-size: cover;

  .zl-row-hero {
    height: 530px;
  }
  .zl-col-hero {
    height: 530px;
  }

  .block-home-hero {
    background-color: #e52027;
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    height: 40%;
    width: 480px;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
    display: flex;
    align-items: end;
    justify-content: center;
    padding-left: 60px;

    p {
      color: #ffffff;
      font-size: 22px;
      font-weight: 900;
      text-align: right;
    }
  }
}

.zl-section-about,
.grid-container {
  margin: 0 auto !important;
  left: -15px !important;

  .zl-row-about {
    .zl-col-about {
      .zl-about-image {
      }

      .zl-about-cta {
        text-align: center;

        .vc_btn3-style-outline-custom {
          width: 300px;
          color: rgba(229, 32, 39, 0.38);
          font-size: 28px;
          font-weight: 700;
          border-radius: none;
          padding: 12px 30px;
          text-decoration: none;
          display: inline-block;
        }
      }
    }

    .zl-col-about-text {
      min-height: 450px;
      max-width: 500px;
      .zl-about-title {
        font-weight: 600;
        position: relative;
        display: inline-block;

        &:after {
          content: '';
          position: absolute;
          height: 2px;
          width: 125%;
          bottom: 0;
          background: #685418;
          left: 0;
        }
      }

      .zl-about-description {
        color: #685418;
        font-size: 14px;

        p {
          line-height: 214%;
        }
      }
    }
  }
}

.zl-section-testimonial {
  background-repeat: no-repeat;
  background-size: cover;

  .zl-row-testimonial {
    .zl-col-testimonial {
      .zl-testimonial-quote {
        color: #ffffff;
        font-style: italic;
        max-width: 800px;
        margin: 0 auto;
        text-align: center;
      }

      .zl-testimonial-author {
        text-align: end;
        color: #ffffff;
        max-width: 800px;
        margin: 0 auto;
      }

      .zl-testimonial-pagination {
      }
    }
  }
}

.zl-section-services,
.grid-container {
  margin: 0 auto !important;
  left: -15px !important;

  .zl-row-services-title {
    .zl-col-services-title {
      .zl-services-title {
        font-weight: 600;
        position: relative;
        display: inline-block;

        &:after {
          content: '';
          position: absolute;
          height: 2px;
          width: 130%;
          bottom: 0;
          background: #685418;
          left: 0;
        }
      }
    }
  }

  .zl-row-services-grid {
    .zl-col-service {
      .zl-service-icon {
      }
      .zl-service-title {
        font-weight: 600;
      }
      .zl-service-description {
        text-align: center;
        color: #685418;
      }
      .zl-btn-professionals {
        .vc_btn3-style-outline-custom {
          width: 210px;
          font-weight: bolder;
          padding: 10px 45px 8px 45px;
          text-decoration: none;
          display: inline-block;
        }
      }
      .zl-btn-homeowners {
        .vc_btn3-style-outline-custom {
          width: 210px;
          font-weight: bolder;
          padding: 10px 45px 8px 45px;
          text-decoration: none;
          display: inline-block;
        }
      }
    }
  }
}

.zl-section-gallery {
  .zl-row-gallery {
    .zl-col-gallery,
    .vc_column-inner {
      background-repeat: no-repeat;
      background-size: 100% 100%;
      height: 530px;
      .block-gallery-text {
        background-color: #e52027;
        clip-path: polygon(60% 0, 0 0, 0 100%);
        height: 40%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        display: flex;
        align-items: end;
        justify-content: start;
        padding-left: 60px;
        margin-top: 5px;

        p {
          color: #ffffff;
          font-size: 22px;
          font-weight: 900;
          text-align: left;
          padding-bottom: 6rem;
        }
      }
    }
  }
}
